* {
  box-sizing: border-box;
  margin: 0;
  pad: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  height: 40px;
  width: 120px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.nodata {
  color: red;
  font-size: 34px;
  font-weight: bold;
}
